.root {
    -fx-background-color: #e6f2f0;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2e2e2e;
}

.button {
    -fx-background-color: #4caf50, #f2f2f2;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: #bfbfbf;
    -fx-border-radius: 5;
}

.titled-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
}

.titled-pane > .title {
    -fx-background-color: #4caf50;
    -fx-text-fill: white;
}

.split-pane {
    -fx-background-color: transparent;
}

/* Specific ID styling if needed */
#searchForm {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

/* You can define more specific styles for each type of component,
   such as GridPane, HBox, VBox, ImageView etc. based on your FXML structure. */
