/*.button {*/
/*    -fx-background-color: red;*/
/*}*/

/*.display-button {*/
/*    -fx-border-color: #B0C4DE;*/
/*    -fx-border-width: 2;*/
/*    -fx-border-style: solid;*/
/*    -fx-background-color: #62B6CB;*/
/*}*/

/*.lab-test-pane {*/
/*    -fx-background-color: #E0F2F1;*/
/*}*/

/*.diagnosis-pane {*/
/*    -fx-background-color: #E0F2F1;*/

/*}*/

.vbox {
    -fx-alignment: center;
    -fx-background-color: #E0F2F1;;
}

.hbox {
    -fx-alignment: center;
}